html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'Roboto Condensed', serif;
}


h1, h2, h3{
  text-transform: uppercase;
  margin: 0;
  background-color: #B30000;
  color: #fff;
}

h1 {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

h2 {
  background-color: #fff;
  color: #B30000;
  font-size: 28px;
  font-weight: 700;
  padding: 0 5px 0 5px;
}


h3 {
  font-size: 18px;
  padding: 2px 20px 2px 20px;
}


a {
  text-decoration: none;
}

header {
  background-color: #b30000;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.skip-link {
  background-color: #000;
  color: #fff;
  left: 0;
  padding: 8px;
  position: absolute;
  top: -40px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;

}

.filter-menu {
  background-color: #fff;
  border-bottom: .5px solid;
  color: #b30000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.open {
 border-bottom: 0;
}

.filter-menu-option {
  background-color: #fff;
  cursor: pointer;
  font-size: 10px;
  padding: 10px 2px 10px 2px;
  text-align: center;
  width: 33vw;
}

.filter-menu-option:focus {
  outline: #b30000 2px dotted;
}

.filter-menu-option i {
  padding: 2px;
}

.filter-menu-option .name {
  text-transform: uppercase;
}

.filters {
  background-color: #fff;
  border-bottom: .5px solid;
  color: #b30000;
}

.filters .filter-by ul {
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.filters i {
  padding: 5px;
}

.filter-by .filter-option {
  margin: 0 0 2px 10px;
  padding: 5px;
}

.filter-by .filter-option:hover {
  cursor: pointer;
  font-weight: 800;
}

.filter-by .filter-value {
  padding: 10px;
}

.remove-filter {
  cursor: pointer;
  font-size: 12px;
  padding: 0 15px 0 25px;
  text-align: right;
  text-transform: uppercase;
}

.map-container {
  background-color: #ccc;
  width: 100vw;
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
}

.no-results {
  color: #b30000;
  font-size: 16px;
  padding: 15px;
  text-transform: uppercase;
}

article{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
  padding: 10px 0;
}

 .restaurant-list .restaurant-list-image {
  max-width: 100vw;
}

.restaurant-img {
  border-radius: 1px;
  max-height: 100%;
  max-width: 100%;
}

.restaurant-list .info {
  color: #8f9595;
  padding: 0 5px;
}

.restaurant-item .info p {
  list-style: none;
  margin: 0 0 0 5px;
  padding-left: 0;
}


a .restaurant-name {
  padding: 0 5px;
}

.restaurant-address {
  font-weight: bold;
  margin: 5px 5px 0 5px;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100vw;
  padding: 5px 5px 5px 0;
  width: 100vw;
}

.restaurant-info {
  color: #8f9595;
  margin: 0;
  padding: 10px;
  text-align: left;
}

.restaurant-info p {
  margin: 0;
  padding-left: 5px;
}

.restaurant-info i {
  color: #b30000;
  padding: 5px;
}

.schedule-small {
  display: block;
}

.schedule {
  display: none;
}

.hours-today {
  cursor: pointer;
  padding: 0;
}

.restaurant-hours {
  font-size: 12px;
  padding: 10px 0 10px 5px;
}

.restaurant-hours .today {
  font-weight: bold;
}

.detail-page .image-container {
  max-width: 100vw;
  width: 100vw;
}

.reviews {
  color: #8f9595;
}

.reviews ul {
  list-style: none;
  padding: 0;
}


.reviews ul li {
  border-bottom: 1px dashed #8f9595;
  list-style: none;
  margin: 10px 0;
  padding: 20px;
}

.reviews ul li:last-of-type {
  border-bottom: none;
}

.reviews ul li .star {
  color: #b30000;
}

.reviews li .review-details {
  margin: 0;
}



/* Media queries */

@media screen and (min-width:426px) {

  h2 {
    text-align: left;
  }

  header {
    flex-direction: row;
    justify-content: flex-start;
  }

  .filter-menu {
    align-items: center;
    background-color: #b30000;
    border: 0;
    color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .filter-menu-option {
    background-color: #b30000;
    color: #fff;
    font-size: 14px;
    width: 30vw;
  }

  .filter-menu-option:focus {
    outline: #fff 2px dotted;
    z-index: 100;
  }

  .filters {
    width: 100vw;
  }

  .restaurant-list {
    flex-direction: row;
    justify-content: center;
  }

  article {
    align-self: flex-start;
    padding: 10px 5px;
  }

  .restaurant-details {
    flex-direction: row;
    justify-content: center;
  }

  .restaurant-details ul {
    display: block;
    padding-left: 20px;
  }

  .schedule-small {
    display: none;
  }

  .schedule {
    display: block;
  }

}



@media screen and (min-width: 426px) and (max-width: 900px) {

  h1 {
    font-size: 20px;
    padding: 10px 3px 10px 5px;
    text-align: left;
  }

  h2 {
    font-size: 20px;
  }

 article {
    width: calc(100vw/2 - 10px);
  }

  .detail-page .restaurant-info {
    width: 35vw;
  }

  .detail-page .restaurant-info p {
    font-size: 12px;
  }

  .detail-page .image-container{
    width: 60vw;
  }


  .detail-page #map {
    height: 300px;
    width: 100vw;
  }

  .detail-page .map-container{
    width: 100vw;
  }

}

@media screen and (min-width: 900px) {

  .restaurant-list .restaurant-item {
    width: calc((100vw / 4) - 10px);
  }

  .restaurant-details {
    flex-wrap: nowrap;
  }

  .detail-page .image-container {
     height: 30vw;
     padding-right: 5px;
     width: 50vw;
  }

  .detail-page .map-container {
    background-color: #fff;
    height: 30vw;
    width: 30vw;
  }

  .restaurant-hours {
    font-size: 14px;
  }
}