<main id="maincontent">
	<section class="filter-options">
		<div class="option" ng-click="data.toggleFiltersDisplay()">
			<i class="fas fa-filter"></i>
			<i class="fas fa-sort-down" ng-hide="data.showFilters"></i>
			<i class="fas fa-sort-up" ng-show="data.showFilters"></i>
			<span class="name">Filter By....</span>
		</div>
		<div class="option" ng-click="data.toggleMapDisplay()">
	      	<i class="fas fa-map-marker-alt"></i>
	      	<i class="fas fa-sort-down" ng-hide="data.showMap"></i>
	      	<i class="fas fa-sort-up" ng-show="data.showMap"></i>
	      	<span class="name">Show Map</span>
	    </div>
	</section>

	<!-- filters -->
	<section class="filters" ng-show="data.showFilters">
		<div class="filter-by">
			<ul>
				<li class="filter-name">
					<i class="fas fa-map-signs"></i>Filter by Neighborhood:
				</li>
				<li class="filter-option" ng-show="!(data.neighborhoodFilter)" ng-repeat="neighborhood in data.getNeighborhoods()" ng-click="data.setFilter('neighborhood', neighborhood)">{{neighborhood}}
				</li>
				<li class="filter-value" ng-show="data.neighborhoodFilter">
					<i class="fas fa-check"></i> {{data.neighborhoodFilter}}
					<span class="remove-filter" ng-click="data.removeFilter('neighborhood')">Clear</span>
				</li>
			</ul>
		</div>
		<div class="filter-by">
			<ul>
				<li class="filter-name">
					<i class="fas fa-utensils"></i>Filter by Cuisine:
				</li>
				<li class="filter-option" ng-show="!(data.cuisineFilter)" ng-repeat="cuisineType in data.getCuisineTypes()" ng-click="data.setFilter('cuisineType', cuisineType)">{{cuisineType}}
				</li>
				<li class="filter-value" ng-show="data.cuisineFilter">
					<i class="fas fa-check"></i> {{data.cuisineFilter}}
					<span class="remove-filter" ng-click="data.removeFilter('cuisineType')">Clear</span>
				</li>
			</ul>
		</div>
	</section>

	<!-- map -->
	<section id="map-container" ng-show="data.showMap">
		<div map-lazy-load="{{data.googleMapsUrl}}">
		  <ng-map center="40.722216,-73.987501" zoom="12">
		  	<marker position=“{{restaurant.latlng.lat}},{{restaurant.latlng.lng}}” ng-repeat="restaurant in data.restaurantsToDisplay"/>
		  </ng-map>
		</div>
	</section>

	<!--restaurants-->
	<div id="restaurants-list">
		<div class="no-results" ng-hide="data.restaurantsToDisplay.length  > 0">We could not find any matching results. Change your filter options.</div>
		<article class="card" ng-repeat="restaurant in data.restaurantsToDisplay" >
			<img class="restaurant-img" ng-src="/images/medium/{{restaurant.photograph}}"
			alt="{{restaurant.name}}" ui-sref="detail({id: restaurant.id})">
			<div class="card-info">
				<a class="title" ui-sref="detail({id: restaurant.id})"><h4>{{restaurant.name}}</h4></a>
				<p class="details">{{restaurant.cuisineType}} - {{restaurant.neighborhood}}</p>
				<p class="details">{{restaurant.address}}</p>
			</div>
		</article>
	</div>
</main>


