<header>
	<div class="header-logo">
		<h1 ui-sref="home">Opinionated Eats</h1>
	</div>
	<a href="#maincontent" target="_self" class="skip-link">Skip to Main Content</a>

	<section class="filter-menu" ng-class="{open:data.showFilter}" role="menu">

		<div class="filter-menu-option" aria-haspopup="true" role="menuitem" ng-click="data.toggleNeighborhoodFilterDisplay()" ng-focus="data.toggleNeighborhoodFilterDisplay()" ng-blur="data.toggleNeighborhoodFilterDisplay()" aria-activedescendant="n0" aria-owns="neighborhoodGroup">
			<span class="name" role='menuitem' >Neighborhoods</span>
			<i class="fas fa-sort-down" ng-hide="data.showNeighborhoodFilter"></i>
			<i class="fas fa-sort-up" ng-show="data.showNeighborhoodFilter"></i>
		</div>

		<div class="filter-menu-option" aria-haspopup="true" role="menuitem" ng-click="data.toggleCuisineFilterDisplay()" ng-focus="data.toggleCuisineFilterDisplay()" ng-blur="data.toggleCuisineFilterDisplay()" aria-activedescendant="c0" aria-owns="cuisineGroup">
			<span class="name">Cuisine Types</span>
			<i class="fas fa-sort-down" ng-hide="data.showCuisineFilter"></i>
			<i class="fas fa-sort-up" ng-show="data.showCuisineFilter"></i>
		</div>
	</section>

	<!-- filters -->
	<section class="filters">
		<div class="filter-by" ng-show="data.showNeighborhoodFilter" role="menu" id="neighborhoodGroup">
			<ul>
				<li role="menuitem" class="filter-option" tabindex="-1" ng-show="!(data.neighborhoodFilter)" ng-repeat="neighborhood in data.getNeighborhoods()" id="n{{$index}}" ng-click="data.setFilter('neighborhood', neighborhood)">{{neighborhood}}{{index}}
				</li>
				<li class="filter-value" ng-show="data.neighborhoodFilter">
					<i class="fas fa-check"></i> {{data.neighborhoodFilter}}
					<span class="remove-filter" ng-click="data.removeFilter('neighborhood')">Clear</span>
				</li>
			</ul>
		</div>
		<div class="filter-by" ng-show="data.showCuisineFilter" role="menu" id="cuisineGroup">
			<ul>
				<li role="menuitem" class="filter-option" ng-show="!(data.cuisineFilter)" ng-repeat="cuisineType in data.getCuisineTypes()" ng-click="data.setFilter('cuisineType', cuisineType)" id="c{{$index}}">{{cuisineType}}
				</li>
				<li class="filter-value" ng-show="data.cuisineFilter">
					<i class="fas fa-check"></i> {{data.cuisineFilter}}
					<span class="remove-filter" ng-click="data.removeFilter('cuisineType')">Clear</span>
				</li>
			</ul>
		</div>
	</section>
</header>

<main class="list-page">
	<!-- map -->
	<section class="map-container" ng-show="data.showMap" tabindex="-1">
		<div map-lazy-load="{{data.googleMapsUrl}}" tabindex="-1">
		  <ng-map center="40.722216,-73.987501" zoom="12" tabindex="-1">
		  	<marker tabindex="-1" position=“{{restaurant.latlng.lat}},{{restaurant.latlng.lng}}” ng-repeat="restaurant in data.restaurantsToDisplay"/>
		  </ng-map>
		</div>
	</section>

	<!--restaurants-->
	<div class="restaurant-list" id="maincontent">
		<div class="no-results" ng-hide="data.restaurantsToDisplay.length  > 0">
			We could not find any matching results. Change your filter options.
		</div>

		<article class="restaurant-item" ng-repeat="restaurant in data.restaurantsToDisplay">

			<div class="restaurant-list-image">
				<img class="restaurant-img" ng-src="/images/small/{{restaurant.photograph}}"
			alt="{{restaurant.name}}" ui-sref="detail({id: restaurant.id})">
			</div>

			<div class="info">
				<a class="restaurant-name" ui-sref="detail({id: restaurant.id})"><h2>{{restaurant.name}}</h2></a>
				<p>{{restaurant.cuisineType}} - {{restaurant.neighborhood}}</p>
				<p class="restaurant-address">{{restaurant.address}}</p>
			</div>

		</article>
	</div>
</main>


