<main id="maincontent">
    <!-- Beginning map -->
    <section id="map-container">
      <div id="map" style="position: relative; overflow: hidden;"></div>
    </section>
    <!-- End map -->
    <!-- Beginning restaurant -->
    <section class="restaurant-container">
      <img class="restaurant-img" ng-src="/images/small/{{restaurant.data.photograph}}">
      <h2 id="restaurant-name">{{restaurant.data.name}}</h2>
      <div class="restaurant-details">
      	<p class="address">{{restaurant.data.address}}</p>
      	<table id="restaurant-hours">
      		<tr ng-repeat="schedule in restaurant.data.operating_hours">
      			<td>{{schedule.day}}</td><td>{{schedule.hours}}</td>
      		</tr>
      	</table>
    </section>
    <!-- end restaurant -->
    <!-- Beginning reviews -->
    <section class="reviews">
    	<h3>Reviews</h3>
    	<ul id="reviews-list">
    		<li ng-repeat="review in restaurant.data.reviews">
    			<p class="details">{{review.name}}</p>
    			<p class="details">{{review.date}}</p>
    			<p class="details">Rating: {{review.rating}}</p>
    			<p>{{review.comments}}</p>
    		</li>
    	</ul>
    </section>
    <!-- End reviews -->
  </main>