<main id="maincontent">

    <!-- Beginning restaurant -->
    <section class="restaurant-container">
      <img class="restaurant-img" ng-src="/images/medium/{{restaurant.data.photograph}}">
      <h2 id="restaurant-name">{{restaurant.data.name}}</h2>
      <div class="restaurant-details">
      	<p class="address">{{restaurant.data.address}}</p>
      	<table id="restaurant-hours">
      		<tr ng-repeat="schedule in restaurant.data.operating_hours">
      			<td>{{schedule.day}}</td><td>{{schedule.hours}}</td>
      		</tr>
      	</table>
    </section>
    <!-- end restaurant -->

    <!-- Beginning map -->
    <section id="map-container">
  		<div map-lazy-load="{{restaurant.data.googleMapsUrl}}">
		  <ng-map center="{{restaurant.data.latlng.lat}},{{restaurant.data.latlng.lng}}" zoom="12">
		  	<marker position=“{{restaurant.data.latlng.lat}},{{restaurant.data.latlng.lng}}” />
		  </ng-map>
		</div>
    </section>
    <!-- End map -->

    <!-- Beginning reviews -->
    <section class="reviews">
    	<h3>Reviews</h3>
    	<ul id="reviews-list">
    		<li ng-repeat="review in restaurant.data.reviews">
    			<p class="details">{{review.name}} - {{review.date}}</p>
    			<p class="details">Rating:
    			<span ng-repeat="n in [].constructor(5) track by $index">
    				<i class="fa-star star" ng-class="{fas: $index < review.rating,  far: $index >= review.rating}"></i>
    			</div>
    			<p>{{review.comments}}</p>
    		</li>
    	</ul>
    </section>
    <!-- End reviews -->
  </main>