<main id="maincontent">

    <!-- Beginning restaurant -->
    <section class="restaurant-container">
      <div class="restaurant-image-container">
      	<img class="restaurant-img" ng-src="/images/small/{{restaurant.data.photograph}}">
      </div>
      <div class="restaurant-details-container">
      	<div class="restaurant-name"><h2>{{restaurant.data.name}}</h2></div>
      	<div class="restaurant-info">
	      	<p class="detail restaurant-address" ng-click="restaurant.toggleMapDisplay()"><i class="fas fa-map-marker-alt"></i> {{restaurant.data.address}}</p>
	      	<p class="detail hours-today" ng-click="restaurant.toggleScheduleDisplay()">
	      		<i class="far fa-clock"></i>
	      		Hours: {{restaurant.todaysHours}}
	      		<i class="fas fa-sort-down" ng-hide="restaurant.showSchedule"></i>
	      		<i class="fas fa-sort-up" ng-show="restaurant.showSchedule"></i>
	      	</p>
	      	<table class="restaurant-hours" ng-show="restaurant.showSchedule">
	      		<tr ng-repeat="schedule in restaurant.data.operatingHours" ng-class="{'today': schedule.day == restaurant.currentDayOfWeek}">
	      			<td>{{schedule.day}}</td><td>{{schedule.hours}}</td>
	      		</tr>
	      	</table>
	     </div>
      </div>
    </section>
    <!-- end restaurant -->

    <!-- Beginning map -->
    <div id="map-container" ng-show="restaurant.showMap">
  		<div map-lazy-load="{{restaurant.data.googleMapsUrl}}">
		  <ng-map center="{{restaurant.data.latlng.lat}},{{restaurant.data.latlng.lng}}" zoom="12">
		  	<marker position=“{{restaurant.data.latlng.lat}},{{restaurant.data.latlng.lng}}” />
		  </ng-map>
		</div>
    </div>
    <!-- End map -->

    <!-- Beginning reviews -->
    <section class="reviews">
    	<h3>Reviews</h3>
    	<ul id="reviews-list">
    		<li ng-repeat="review in restaurant.data.reviews">
    			<p class="review-details">{{review.name}} - {{review.date}}</p>
    			<p class="review-details">Rating:
    			<span ng-repeat="n in [].constructor(5) track by $index">
    				<i class="fa-star star" ng-class="{fas: $index < review.rating,  far: $index >= review.rating}"></i>
    			</div>
    			<p>{{review.comments}}</p>
    		</li>
    	</ul>
    </section>
    <!-- End reviews -->
  </main>